*,
html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.divider {
  width: 60%;
  height: 1px;
  background-color: #555;
  margin: 0px auto 70px;
}

.text-align-c {
  text-align: center;
}

.pd-tb-80-rl-40{
  padding:  40px
}

.pd-lr-40 {
  padding: 0px 40px;
}

.mr-tb-10 {
  margin: 10px 0px;
}

.mr-tb-20 {
  margin: 20px 0px;
}


.mr-tb-30 {
  margin: 30px 0px;
}


.mr-tb-40 {
  margin: 40px 0px;
}




body {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

.app-container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/images/homebg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
}



.header-widget-container {
  width: 100%;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  /* background-color: wheat; */
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.menu-container img.menu-logo {
  width: 250px;
}

.menu-items {
  display: flex;
  align-items: stretch;
  gap: 45px;
  height: 100%;
  text-transform: uppercase;
}

.menu-items .sub-menu-items p,
.menu-items p {
  display: flex;
  align-items: center;
  height: 100%;
}



.menu-items.desktop .sub-menu-items .sub-menu {
  display: none;
}


.menu-items.desktop .sub-menu-items:hover .sub-menu {
  display: block;
  min-width: 180px;
  position: absolute;
  background: whitesmoke;
}

.menu-items.desktop .sub-menu-items .sub-menu p {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid grey;
  text-transform: capitalize;
}


.hamburger-container,
.mobile-menu-items {
  display: none;
}



.body-container {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
 
}

.body-container h1 {
  font-size: 3vw;
}

.body-icon {
  min-width: 50px;
  max-width: 100px;
}

.work-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}


.sections-container{
  display: flex;
  flex-direction: column;
}

.work-card {
  max-width: 25%;
  background-color: white;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.work-card>* {
  margin: 10px 0px;
}

.work-card p {
  margin-top: auto;
  margin-bottom: auto;

}

.work-card img {
  width: 60%;
}

.work-header {
  flex: 1 1;
}

.our-work-container, .whyUs-container{
  background-color: rgba(0, 0, 0, 0.4); 
  color: white;
}
/* For Projects */

.our-projects-container, .customers-container {

  background-color:  rgba(255, 255, 255, 0.91);
  color: black;
  
}


.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.project-container .images-container {
  width: 70%;
  display: flex;
}

.project-container .images-container .right-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-container .images-container .right-container a {
  width: 48%;
}

.project-container .images-container .right-container a .image {
  width: 100%;
  height: 100%;
}

.project-container .images-container .left-container {
  width: 40%;
}

.project-container .images-container .left-container .image {
  width: 100%;
}



.project-designer {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.project-designer .rt-c {
  width: 30%;
}

.project-designer .rt-c img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}



.project-designer .lt-c {
  width: 60%;
}



.our-work-container .project-container>.project-container:nth-of-type(2) {
  color: red;
}


.whyUs-Details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.whyUs-Details-container .container {
  flex-basis: 20%;
  padding: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);;
  color: black;
  border-radius: 5px;
}


.reviews-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.customers-container .customer-review {
  flex-basis: 25%;
  background-color: white;
  padding: 40px;
  border-radius: 9px;
  color: black;
}





/* Ideas */

.ideas-hero-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ideas-container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(5, minmax(auto, 100%));
  gap: 10px;
}

.ideas-container .idea-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}


/* Media queries */


@media (min-width: 320px) and (max-width: 1024px) {

  /* for Headers component */

  .menu-items.desktop {
    display: none;
  }

  .hamburger-container {
    display: block;
  }


  .mobile-menu-items {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: whitesmoke;
    padding: 0px 50px;
    color: black;
    position: absolute;
    top: 70px;
  }

  .mobile-menu-items p,
  .mobile-menu-items .sub-menu-items>p {
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    text-transform: uppercase;
  }

  .mobile-menu-items .sub-menu-items .sub-menu {
    display: none;
  }


  .mobile-menu-items .sub-menu-items.mobile {
    display: flex;
    flex-direction: column;
  }



  .mobile-menu-items .sub-menu-items:hover .sub-menu {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 75%;
    margin: 0px 31px;
  }

  .mobile-menu-items .sub-menu-items:hover .sub-menu p {
    border-bottom: 1px solid #a5a2a2;
    text-transform: capitalize;

  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }


  .mobileView .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .mobileView .bar2 {
    opacity: 0;
  }

  .mobileView .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  /* for Headers component */

}



@media (min-width: 320px) and (max-width: 768px) {}


@media (min-width: 768px) and (max-width: 1024px) {
  .project-container .images-container {
    width: 92%;
  }


  .whyUs-Details-container .container {
    flex-basis: 48%;
  }

  .customers-container .customer-review {
    flex-basis: 40%;
    flex-grow: 1;
  }

  .ideas-container {

    grid-template-columns: repeat(3, minmax(auto, 100%));
  }



}


@media (min-width: 320px) and (max-width: 767px) {
  .body-container h1 {
    font-size: 5vw;
  }



  .work-cards {
    justify-content: center;
    gap: 15px;
  }

  .work-card {
    min-width: 80%;
    max-width: 90%;
    text-align: center;
  }

  .work-card img {
    width: 70%;
  }




  .project-container .images-container {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .project-container .images-container .right-container {
    width: 100%;
  }

  .project-container .images-container .left-container {
    width: calc(50% - 10px);
  }


  .project-container .images-container .right-container img,
  .project-container .images-container .left-container img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }


  .whyUs-Details-container .container {
    flex-basis: 100%;
  }

  .project-designer,
  .project-designer .lt-c {
    width: 100%;
    align-items: center;
    text-align: center;
  }



  .project-container .project-designer {
    flex-direction: column;
  }


  .customers-container .customer-review {
    flex-basis: 100%;
  }


  .ideas-container {

    grid-template-columns: repeat(2, minmax(auto, 100%));
  }



}


@media (min-width: 320px) and (max-width: 480px) {
  .menu-container {
    justify-content: space-between;
  }

  .pd-lr-40 {
    padding: 0px 10px;
  }
}





.star-rating {
  font-size: 30px;
  color: #ccc;
  text-align: center;
}

.star-rating .star {
  cursor: pointer;
  color: gold;
}

.star-rating .star.filled {
  color: gold;
}

.star-rating .star:not(.filled) {
  color: #ccc;
}


h3::after{
  content: '';
  width: 100px;
  height: 3px;
  display: flex;
  background-color: #dc1746;
  margin: 10px auto;
  border-radius: 5px;
}


.clg-pri{
  color: #dc1746;
  font-weight: bolder;
}
