*,
html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


:root {
  --primarry-color: #dc1746;
  --font-primary-family: "Varela Round", sans-serif;
  --font-secondary-family: "Raleway", serif;

}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #e7345e;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

/* Optional: Scrollbar when focused or hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #c1143a;
  /* A darker shade for hover effect */
}

.divider {
  width: 60%;
  height: 1px;
  background-color: #555;
  margin: 0px auto 70px;
}

.text-align-c {
  text-align: center;
}

.pd-tb-80-rl-40 {
  padding: 40px
}

.pd-lr-40 {
  padding: 0px 40px;
}

.mr-tb-10 {
  margin: 10px 0px;
}

.mr-tb-20 {
  margin: 20px 0px;
}

.mr-b-15 {
  margin: 0px 0px 15px 0px;
}

.mr-b-30 {
  margin: 0px 0px 30px 0px;
}


.mr-t-10 {
  margin: 10px 0px 0px 0px;
}

.mr-t-30 {
  margin: 30px 0px 0px 0px;
}

.mr-tb-30 {
  margin: 30px 0px;
}


.mr-tb-40 {
  margin: 40px 0px;
}


body {
  font-family: var(--font-primary-family);
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}


.drop-down-icon {
  fill: white;
  width: 100px;
  margin-top: 20px;
}

/* .main-body-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/images/homebg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin-top: -85px;
} */

.main-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  transition: top 0.3s ease, background-color 0.3s ease;
  z-index: 10 !important;
}

#navbar.scrolled {
  /* background-color: rgba(0, 0, 0, 0.5); */
  top: -100px;
}


.main-header-container.dark-bg {
  background-color: white;
  box-shadow: 0px 1px 6px 1px grey;
}


.header-widget-container {
  width: 100%;
}

.navbar-left.desktop {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100%;
}

.menu-contact-details .contact-link img {
  width: 20px;
  margin: 0px 10px;
}

.menuitems-container {
  height: 70%;
}



.menu-contact-details .contact-link {
  font-size: 16px;
  display: flex;
  color: white;
  text-decoration: none;
}

.dark-bg .menu-contact-details .contact-link {
  color: black;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  height: 85px;
  align-items: center;
  /* background-color: wheat; */
  /* background-color: rgba(255, 255, 255, 0.4); */
  color: black;
}

.menu-container img.menu-logo {
  width: 250px;
}

.menu-items {
  display: flex;
  align-items: stretch;
  height: 100%;
  text-transform: uppercase;
  font-size: 14px;
}

.menu-items .sub-menu-items p,
.menu-items p {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu-items p a {
  color: white;
  text-decoration: none;
  padding: 0px 15px;
}

.menu-items .sub-menu p a {
  color: black;
  border: none
}

.dark-bg-menu-items p a {
  color: black;
  text-decoration: none;
}

.menu-items p:not(:last-child) {
  /* border-right: 2px solid #fff; */
}


.menu-items p:not(:last-child)::after {
  /* border-right: 2px solid #fff; */
  content: "";
  width: 2px;
  height: 40%;
  background-color: white;
}


.dark-bg-menu-items p:not(:last-child)::after {
  /* border-right: 2px solid #fff; */
  content: "";
  width: 2px;
  height: 40%;
  background-color: black;
}


.menu-contact-details a {
  padding: 0px 15px;
}

.menu-contact-details a:not(:last-child) {
  border-right: 2px solid #fff;
}

.dark-bg .menu-contact-details a:not(:last-child) {
  border-right: 2px solid black;
}



.menu-items.desktop .sub-menu-items .sub-menu {
  display: none;
}


.menu-items.desktop .sub-menu-items:hover .sub-menu {
  display: block;
  min-width: 180px;
  position: absolute;
  background: whitesmoke;
  top: 85px;
}

.menu-items.desktop .sub-menu-items .sub-menu p {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid grey;
  text-transform: capitalize;
}


.hamburger-container,
.mobile-menu-items {
  display: none;
}

.menu-contact-details {
  margin: 15px 0px 0px 0px;
  display: flex;
}


.app-container {
  /* background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/images/homebg.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/images/homebg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  margin: -85px 0px 0px;
}

.body-container h1 {
  font-size: 3vw;
  font-weight: initial;
}

.body-icon {
  min-width: 50px;
  max-width: 100px;
}

.work-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}


.sections-container {
  display: flex;
  flex-direction: column;
}

.work-card {
  max-width: 25%;
  background-color: white;
  padding: 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.work-card>* {
  margin: 10px 0px;
}

.work-card p {
  margin-top: auto;
  margin-bottom: auto;
  font-family: var(--font-secondary-family);
  letter-spacing: 0.5px;
}

.work-card img {
  width: 85%;
}

.work-header {
  flex: 1 1;
}

.our-work-container {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}



/* For Themes */


.themes-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 80%;
  margin: 40px auto;
}

.image-container {
  width: 48%;
  position: relative;
}


.image-container img {
  width: 100%;
  aspect-ratio: 3/1.9;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.image-container:hover img {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.image-container .theme-name {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, .7);
  padding: 10px 0px;
}

/* For Projects */
.our-themes-container,
.our-projects-container,
.customers-container,
.ourPartners-container {

  background-color: rgba(255, 255, 255, 0.94);
  color: black;

}


.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.project-container .images-container {
  width: 80%;
  display: flex;
}

.project-container .images-container .right-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.project-container .images-container .right-container a {
  width: 31%;
}

.project-container .images-container .right-container a .image {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2.5;
  object-fit: cover;
}

.project-container .images-container .left-container {
  width: 40%;
}

.project-container .images-container .left-container .image {
  width: 100%;
}



.project-designer {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-designer .rt-c {
  width: 20%;
}

.project-designer .rt-c img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}



.project-designer .lt-c {
  width: 70%;
}

.project-design-content{
  line-height: 23px;
}

.our-work-container .project-container>.project-container:nth-of-type(2) {
  color: red;
}


.whyUs-Details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.whyUs-Details-container .container {
  flex-basis: 20%;
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  color: black;
  border-radius: 5px;
  color: white;
}


.reviews-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.customers-container .customer-review {
  flex-basis: 25%;
  background-color: white;
  padding: 40px;
  border-radius: 9px;
  color: black;
}



.customer-review .review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


/* Ideas */

.ideas-hero-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.ideas-container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, minmax(auto, 100%));
  gap: 10px;
}

.ideas-container .idea-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 12;
  object-fit: cover;
}



.address-container {
  display: flex;
  justify-content: space-evenly;
}

.address-container .address-landmark {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.address-container .address-map {
  width: 30%;
}

.address-map .google-map-timesSquareInteriors {
  width: 100%;
}

.fa.fa-map-marker {
  font-size: 25px;
}

.follow-icons {
  font-size: 25px;
  margin: 0px 10px 0px 0px;
}


.footer-container {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.contactUs-container {
  display: flex;
  justify-content: center;
}

.contactUs-container button,
.our-themes-container button,
.our-projects-container button {
  padding: 10px 40px;
  background-color: var(--primarry-color);
  border: none;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 800;
  font-family: inherit;
  position: fixed;
  bottom: 0;
  margin: 0px auto;
  z-index: 11000;
}

.our-themes-container button,
.our-projects-container button {
  position: static;
  display: flex;
}

.our-projects-container button a,
.our-themes-container button a {
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.our-project-block-container {
  background-color: white;
}

.our-main-projects-container {
  padding: 20px 10%;
  display: flex;
  flex-direction: column;
}

.pd-l-10{
  padding: 0px 10%;
}


.our-main-projects-container h1 {
  width: 100%;
}

.themes-main-container {
  background-color: white;
  padding: 20px 15%;
}

/* for Contact form */


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* Ensures the modal is above other content */
}

.modal-content {
  background: white;
  padding: 40px 20px;
  border-radius: 8px;
  position: relative;
  width: 55%;
  max-height: 80vh;
  /* Max height set to 80% of the viewport height */
  overflow-y: auto;
  /* Allow vertical scrolling */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 5px;
  border: 2px solid white;
  z-index: 1000;
  /* Ensure the close button is above other content */
}

.close-btn:hover {
  background-color: #f00;
  /* Red background when hovered */
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
select,
button {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contactForm-container button {
  background-color: var(--primarry-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactForm-container button:hover {
  background-color: var(--primarry-color);
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    /* Make the modal content take up 90% of the screen width on smaller screens */
  }

  .contact-form {
    gap: 15px;
    /* Reduce the gap between form elements */
  }
}



.our-projects-images-container {
  display: flex;
  gap: 10px;
}


.our-projects-images-container img {
  cursor: pointer;
}

.our-projects-images-container .left-container {
  width: 65%;
}

.our-projects-images-container .right-container {
  width: 35%;
}

.our-projects-images-container .right-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  gap: 10px;
}

.our-projects-images-container .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-projects-images-container .image-2,
.our-projects-images-container .image-3 {
  width: 100%;
  height: calc(100% - 50%);
  object-fit: cover;
}


.our-projects-images-container .image-3 {
  width: 100%;
  height: calc(100%);
}

.image-text-overflow {
  position: relative;
  height: calc(50% - -5px);
}

.image-text-overflow span {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100%);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  pointer-events: none;
}

.hidden-images {
  display: none;
}



/* Swiper */

.image-carousel {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.swiper {
  width: calc(50% - 20px);
  aspect-ratio: 3 / 2;
  margin: 0;
  padding: 0;
}


.swiper-button-next,
.swiper-button-prev {
  color: #dfd9d9;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
  font-weight: bolder;
}




.contact-whatsApp {
  width: 110px;
  position: fixed;
  bottom: 40px;
  right: 0px;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 15px 10px 38px;
  border-radius: 5px 0px 0px 5px;
  z-index: 10000;
}

.contact-whatsApp .whatsApp-image {
  width: 100%;
}




/* Media queries */


@media (min-width: 320px) and (max-width: 991px) {

  /* for Headers component */



  .menu-contact-details {
    display: none;
  }

  .menu-items.desktop {
    display: none;
  }

  .hamburger-container {
    display: block;
  }


  .mobile-menu-items {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: whitesmoke;
    padding: 0px 15px;
    color: black;
    position: absolute;
    top: 85px;
  }

  .mobile-menu-items p,
  .mobile-menu-items .sub-menu-items>p {
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    text-transform: uppercase;
  }

  .mobile-menu-items p a,
  .mobile-menu-items .sub-menu-items>p a {
    color: #000;
    text-decoration: none;
  }

  .mobile-menu-items .sub-menu-items .sub-menu {
    display: none;
  }


  .mobile-menu-items .sub-menu-items.mobile {
    display: flex;
    flex-direction: column;
  }



  .mobile-menu-items .sub-menu-items:hover .sub-menu {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 75%;
    margin: 0px 31px;
  }

  .mobile-menu-items .sub-menu-items:hover .sub-menu p {
    border-bottom: 1px solid #a5a2a2;
    text-transform: capitalize;

  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }


  .dark-bg .bar1,
  .dark-bg .bar2,
  .dark-bg .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }


  .mobileView .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .mobileView .bar2 {
    opacity: 0;
  }

  .mobileView .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  /* for Headers component */

  .mobile-menu-items .mobile-contact-detail {
    display: flex;
    justify-content: space-around;
  }




}



@media (min-width: 320px) and (max-width: 768px) {}


@media (min-width: 768px) and (max-width: 1024px) {
  .project-container .images-container {
    width: 92%;
  }


  .whyUs-Details-container .container {
    flex-basis: 48%;
  }

  .customers-container .customer-review {
    flex-basis: 40%;
    flex-grow: 1;
  }

  .ideas-container {
    grid-template-columns: repeat(3, minmax(auto, 100%));
  }

  .work-cards {
    justify-content: space-between;
    gap: 10px;
  }

  .work-card {
    max-width: calc(33% - 10px);
  }


  .our-main-projects-container {
    padding: 20px 10%;
  }


}


@media (min-width: 320px) and (max-width: 767px) {
  .body-container h1 {
    font-size: 5vw;
  }



  .work-cards {
    justify-content: center;
    gap: 15px;
  }

  .work-card {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .work-card img {
    width: 70%;
  }




  .project-container .images-container {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .project-container .images-container .right-container {
    width: 100%;
  }

  .project-container .images-container .left-container {
    width: calc(100% - 20px);
  }


  .project-container .images-container .right-container a .image,
  .project-container .images-container .left-container a .image {
    aspect-ratio: 1;
    object-fit: cover;
  }


  .whyUs-Details-container .container {
    flex-basis: 100%;
  }

  .project-designer,
  .project-designer .lt-c {
    width: 100%;
    align-items: center;
    text-align: center;
  }



  .project-container .project-designer {
    flex-direction: column;
  }


  .customers-container .customer-review {
    flex-basis: 100%;
  }


  .ideas-container {

    grid-template-columns: repeat(2, minmax(auto, 100%));
  }


  .modal-content {
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .address-container {
    flex-direction: column;
    justify-self: c;
  }


  .address-container .address-landmark,
  .address-container .address-map {
    width: 100%;
  }

  .our-projects-images-container {
    grid-template-columns: 1fr;
    flex-direction: column;
  }

  .our-projects-images-container .left-container {
    width: 100%;
    aspect-ratio: 16 / 9;
}

  .our-projects-images-container .right-container {
    flex-direction: row;
    aspect-ratio: 2 / 1;
    width: 100%;
  }
  .our-projects-images-container  .right-container > *{
    width: 50%;
  }

  .our-projects-images-container .right-container>* {
    flex: 1;
  }

  .our-projects-images-container .left-container .image-1 {
    aspect-ratio: 3 / 2;
  }

  .our-projects-images-container .image-2,
  .our-projects-images-container .image-text-overflow,
  .our-projects-images-container .image-3 {
    height: 100%;
  }


  .our-main-projects-container {
    padding: 20px 10%;
  }


  .address-container .address-landmark {
    margin: 0px 0px 50px 0px;
  }


  .swiper {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    aspect-ratio: 3.5 / 2;
  }



  .contact-whatsApp {
    width: 85px;
    padding: 10px 15px 10px 25px;
  }

  .project-designer .rt-c {
    width: 30%;
  }

  .themes-images-container {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
  }


  .project-container .images-container .right-container a {
    width: 48%;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  .menu-container {
    justify-content: space-between;
  }

  .pd-lr-40 {
    padding: 0px 10px;
  }
}





.star-rating {
  font-size: 30px;
  color: #ccc;
  text-align: center;
}

.star-rating .star {
  cursor: pointer;
  color: gold;
}

.star-rating .star.filled {
  color: gold;
}

.star-rating .star:not(.filled) {
  color: #ccc;
}


h3::after {
  content: '';
  width: 100px;
  height: 3px;
  display: flex;
  background-color: var(--primarry-color);
  margin: 10px auto;
  border-radius: 5px;
}


.fw-100 {
  font-weight: 100;
}

.fw-bold {
  font-weight: bold;
}


.prim-color {
  color: var(--primarry-color) !important;
}


.font-b {
  font-weight: bold !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-14 {
  font-size: 14px !important;
}


.font-size-15 {
  font-size: 15px !important;
}


.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}


.font-size-20 {
  font-size: 20px !important;
}

.font-size-24 {
  font-size: 24px !important;
}

.font-color-white {
  color: white !important;
}


.font-color-black {
  color: black !important;
}

.font-prim {
  color: var(--primarry-color) !important;
}





/* Libraries */

/* Basic styling for modal overlay and content */



.ourword-main-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  background-color: white;
  align-items: center;
  padding: 40px 5%;
}


.work-timeline .content {
  border: 1px solid #555;
}


.timeline {
  position: relative;
  /* max-width: 1200px;
  margin: 0 auto; */
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--primarry-color);
  top: 0;
  bottom: 0;
  /* left: 50%; */
  margin-left: -3px;
}

/* .ourword-main-container h1::after{
  content: '';
  width: 100px;
  height: 3px;
  display: flex;
  background-color: var(--primarry-color);
  margin-top: 10px;
  border-radius: 5px;
} */


.ourword-main-container .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

.ourword-main-container .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.ourword-main-container .left {
  left: 0;
}



.ourword-main-container .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.ourword-main-container .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.ourword-main-container .right::after {
  left: -16px;
}

.ourword-main-container .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}


@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .ourword-main-container .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .ourword-main-container .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .ourword-main-container .left::after,
  .ourword-main-container .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .ourword-main-container .right {
    left: 0%;
  }
}

p {
  font-family: var(--font-secondary-family);
}


.image-hidden {
  display: none;
}


.body-bg-image {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
}


.body-bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  object-position: center;
}

.body-overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}