*,
html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}



body {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pd-lr-40 {
  padding: 0px 40px;
}

.main-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.header-widget-container {
  width: 100%;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  background-color: wheat;
  ;
}

.menu-container img.menu-logo {
  width: 250px;
}

.menu-items {
  display: flex;
  align-items: stretch;
  gap: 45px;
  height: 100%;
}

.menu-items .sub-menu-items a,
.menu-items a {
  display: flex;
  align-items: center;
  height: 100%;
}



.menu-items.desktop .sub-menu-items .sub-menu {
  display: none;
}


.menu-items.desktop .sub-menu-items:hover .sub-menu {
  display: block;
  min-width: 180px;
  position: absolute;
  background: whitesmoke;
}

.menu-items.desktop .sub-menu-items .sub-menu a {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid grey;
}


.hamburger-container,
.mobile-menu-items {
  display: none;
}

/* Media queries */


@media (min-width: 320px) and (max-width: 1024px) {

  /* for Headers component */

  .menu-items.desktop {
    display: none;
  }

  .hamburger-container {
    display: block;
  }


  .mobile-menu-items {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: whitesmoke;
    padding: 0px 50px;
  }

  .mobile-menu-items a,
  .mobile-menu-items .sub-menu-items>a {
    border-bottom: 1px solid grey;
    padding: 20px 0px;
    text-transform: uppercase;
  }

  .mobile-menu-items .sub-menu-items .sub-menu {
    display: none;
  }


  .mobile-menu-items .sub-menu-items.mobile{
    display: flex;
    flex-direction: column;
  }

 

  .mobile-menu-items .sub-menu-items:hover .sub-menu {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 75%;
    margin: 0px 31px;
  }

  .mobile-menu-items .sub-menu-items:hover .sub-menu a{
   border-bottom: 1px solid #a5a2a2;
   text-transform: capitalize;

  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }


  .mobileView .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .mobileView .bar2 {
    opacity: 0;
  }

  .mobileView .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  /* for Headers component */

}